#contenido{

	width: 1000px;
	margin: auto;
	padding: auto;
	position: relative;
}
header{
	background-image: url(../img/header.png);
	background-repeat: no-repeat;
	background-size: 1000px;
	height: 250px;
}
h2{
	font-size: 30px;	
	color: Gray;
	margin: 10px;
	text-align: center;	
}
nav{
background-color: rgb(188, 216, 4);
width: 1000px;
height: 40px;

}
p{
	text-align: justify;
}
nav ul li{

	list-style-type: none;
	float: left;
	padding: 10px;
	margin: 5px;
	
}
footer{
	width: 1000px;
	margin: auto;
	padding: auto;
	position: relative;

height: 90px;
background-color: black;


}
h3{
	font-size: 13px;
	color:white;
	text-align: center;
	
}


*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



header{
	width: 100%;
}

.navegacion{
	width: 1000px;
	height: 60px;
	margin: 0;
	background: rgb(280, 210, 0);
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: rgb(25, 78, 148);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: rgba(11, 11, 65, 0.72);
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 10px;
	color: #fff;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}




